language: php
sudo: false
php:
  - 7
  - 5.6
  - 5.5
  - 5.4
install:
  - pear upgrade console_getopt archive_tar
  - pear install text_diff
  - sh scripts/pear.sh config-set umask 0022
  - sh scripts/pear.sh config-set umask 0022 system
script:
  - umask 0022
  - sh scripts/pear.sh run-tests -q -d -r tests
  - pear package package2.xml
